#Header
header_version=4.3
header_eng=ANY
header_eng_config=0
#Install SRK
srktable_file=SRK_1_2_3_4_table.bin
srk_source_index=0
#Install NOCAK
nocak_file=
#Install CSFK
csfk_file=CSF1_1_sha256_4096_65537_v3_usr_crt.pem
#Authenticate CSF
#Unlock
unlock_engine=
unlock_features=
unlock_uid=
#Install Key
img_verification_index=0
img_target_index=2
img_file=IMG1_1_sha256_4096_65537_v3_usr_crt.pem
#Authenticate Data
auth_verification_index=2